html, body {
  padding:0px;
  margin:0px;
}

#myCanvas {
  border:1px solid red;
  width:100%;
  height:100%;
}


.playerList {
  background-color:rgba(244, 243, 243, 0.5);
  
  width:250px;
  padding:10px;
  overflow:scroll-y;
  position: absolute;
  top: 10px;
  font-size:medium;
  margin-left: 3%;
  margin-top: 3%;

}

.vies {

  width:200px;
  height:50px;

  padding:10px;
  position: absolute;
  top: 100px;
  margin-left: 1%;
  margin-top: 340%;

}


.coins {

  width:1000px;
  height:50px;

  padding:10px;
  position: absolute;
  top: 100px;
  margin-left: 1%;
  margin-top: 365%;

}



